<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Node.js & Express Server</h1>
            <h2>Routes:</h2>
            <ul>
                <li class="route-container">/login</li>
                <li class="route-container">/bookings</li>
                <li class="route-container">/rooms</li>
                <li class="route-container">/users</li>
                <li class="route-container">/contact</li>
            </ul>
            <p class="name">By: Alejandro Luis Acosta</p>
        </div>
    </body>
</html>