<html>
    <head>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="target">Hello, this is an app I'm creating</div>
        <p>hello my wayther</p>
        <div>hey</div>
</body>
</html>